<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group8.mapper.ProductMapper">

    <!--供应商创建商品-->
    <insert id="add" parameterType="com.group8.entity.Product">
        insert into products(name,categoryId,unit,price,description,stock,image,supplier_id)
            values(#{name},#{categoryId},#{unit},#{price},#{description},#{stock},#{image},#{supplierId})
            </insert>

    <!--供应商更新商品-->
    <update id="update" parameterType="com.group8.entity.Product">
        UPDATE products
        SET name = #{product.name},
            categoryId = #{product.categoryId},
            unit = #{product.unit},
            price = #{product.price},
            description = #{product.description},
            stock = #{product.stock},
            image = #{product.image}
        WHERE productId = #{productId}
    </update>

    <!--供应商获取自有商品列表-->
    <select id="selectBySupplierId" resultType="com.group8.entity.Product">
            select * from products where supplier_id=#{userId}
    </select>


    <!-- 采购商获取所有商品列表,分页查询,可根据keyword模糊搜索关键词,可按商品类目ID筛选 -->
    <select id="getAllProducts" resultType="com.group8.entity.Product">
        select * from products
        <where>
            <if test="queryParam.keyword != null and queryParam.keyword != ''">
                and name like concat('%', #{queryParam.keyword}, '%')
            </if>
            <if test="queryParam.categoryId != null">
                and categoryId = #{queryParam.categoryId}
            </if>
        </where>
        limit #{queryParam.page},#{queryParam.limit}
    </select>

    <!-- 获取某类别下的所有商品信息-->
    <select id="getProductsByCategoryId" resultType="com.group8.entity.Product">
        select * from products where categoryId=#{categoryId}
    </select>


</mapper>