# ========================
# Java / Maven / Gradle
# ========================
target/
build/
*.log

# ========================
# IDE
# ========================
.idea/
*.iml
.vscode/

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Spring 配置（敏感信息）
# ========================
application.yml
application-prod.yml
.env

# ========================
# Frontend（重点）
# ========================
node_modules/
dist/

# 如果前端在子目录
frontend/**/node_modules/
frontend/**/dist/